
@import url(../vendor/normalize.css);

@import url(../vendor/fonts.css);

@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__add-btn/profile__add-btn.css);
@import url(../blocks/profile/__description/profile__description.css);
@import url(../blocks/profile/__edit-bnt/profile__edit-bnt.css);
@import url(../blocks/profile/__image/profile__image.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__profile-info/profile__profile-info.css);

@import url(../blocks/elements/elements.css);

@import url(../blocks/element/element.css);
@import url(../blocks/element/__city/element__city.css);
@import url(../blocks/element/__heart/element__heart.css);
@import url(../blocks/element/__trash/element__trash.css);

@import url(../blocks/element/__photo/element__photo.css);

@import url(../blocks/footer/footer.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
/* @import url(../blocks/popup/_opened/popup_opened1.css);
@import url(../blocks/popup/_opened/popup_opened2.css); */



@import url(../blocks/popup/__close-btn/popup__close-btn.css);
@import url(../blocks/popup/__head/popup__head.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__profile/popup__profile.css);
@import url(../blocks/popup/__send-btn/popup__send-btn.css);
@import url(../blocks/popup/__label/popup__label.css);
@import url(../blocks/popup/__error/popup__error.css);




/* -------- */

@import url(../blocks/increase-img/increase-img.css);
@import url(../blocks/increase-img/__photo/increase-img__photo-view.css);
@import url(../blocks/increase-img/__name/increase-img__name-view.css);
@import url(../blocks/popup/_mod/popup_mod-dark.css);


